

/* ------------------businessAPT start------------------  */
#entertainBlock{
    width: 16%;
    float: left;
}

#entertainarticleContent{
    
    background-color:bisque;
   margin-left: 40px;
   border: 1px solid black;
   margin-top: 40px;
} 
h3{
   text-align: center;
    color: red;
    font-size: xx-large;
    background-color: black;
}
   .entertainmenttitle h4{
      margin-left: 10px;
   } 
   .entertainmentDate{
    border-bottom: 2px solid darkgreen;
   }
   .entertainmenttitle a{
       color:maroon;
       font-size: 20px;
      margin-left: 60px;
      
   }
   .entertainmentDate span{
       font-size: 15px;
       margin-left: 10px;
   }
   /* ------------------businessAPT End------------------  */