
#healthBlock{
    width:16% ;
    float: left;
}
#healtharticleContent{
   
    background-color:aliceblue;
   margin-left: 40px;
   border: 1px solid black;
   margin-top: 40px;
   

   
} 
h3{
   text-align: center;
    color: red;
    font-size: xx-large;
    background-color: black;
}
   .heathtitle h4{
      margin-left: 10px;
   } 
   .heathDate {
    border-bottom: 2px solid darkgreen;
   }
   .heathtitle a{
       color:maroon;
       font-size: 20px;
      margin-left: 60px;
      
   }
   .heathDate span{
       font-size: 15px;
       margin-left: 10px;
   }
