#scienceBlock{
    width: 16%;
    float: left;
}

#sciencearticleContent{
    
    background-color:silver;
   margin-left: 40px;
   border: 1px solid black;
   margin-top: 40px;
} 
h3{
   text-align: center;
    color: red;
    font-size: xx-large;
    background-color: black;
}
   .secincetitle h4{
      margin-left: 10px;
   } 
   .secinceDate{
    border-bottom: 2px solid darkgreen;
   }
   .secincetitle a{
       color:maroon;
       font-size: 20px;
      margin-left: 60px;
      
   }
   .secinceDate span{
       font-size: 15px;
       margin-left: 10px;
   }